.logo {
  margin-top: 75px;
  img {
    height: 40px;
    width: 40px;
    display: block;
    margin: auto;
  }
}



.cta {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  .miles {
    font-size: 100px;
    line-height: 120px;
  }
  span {
    font-size: 30px;
    margin-top: -10px;
    display: block;
  }
}

.form {
  margin-top: 60px;
  padding: 0 20px;
  .input-container {
    margin-bottom: 8px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.15);
    padding: 10px 0;
    position: relative;
    height: 55px;
    .input-label {
      position: absolute;
      top: 0;
      left: 30px;
      bottom: 0;
      margin: auto;
      font-size: 20px;
      line-height: 55px;
      font-family: "HelveticaNeue-Light"
    }
    input[type=number] {
      padding-right: 30px;
      padding-left: 190px;
      font-size: 20px;
      background: transparent;
      border: none;
      outline: 0;
      border-radius: 0;
      width: 100%;
      font-weight: bold;
      height: 35px;
      line-height: 30px;
      text-align: right;
    }
    .select-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 10px;
      .select-label {
        position: absolute;
        right: 30px;
        font-weight: bold;
        font-size: 20px;
      }
      select {
        font-size: 20px;
        font-weight: bold;
        opacity: 0;
      }
    }
    .date-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .date-label {
        position: absolute;
        right: 30px;
        font-weight: bold;
        font-size: 20px;
      }
      input {
        opacity: 0;
        height: 35px;
      }
    }
  }
}

.footer {
  font-size: 14px;
  text-align: center;
  margin-top: 80px;
  width: 100%;
  div {
    font-family: "HelveticaNeue-Light"
  }
  span {
    margin-top: 4px;
    display: block;
    font-weight: bold;
  }
}