<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink="/settings" routerDirection="root">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-wrapper">
    <ng-container *ngIf="!appService.result">
      <ion-button routerLink="/settings" routerDirection="root">Input data</ion-button>
    </ng-container>
    <ng-container *ngIf="appService.result">
      <div class="allowed-miles">
        <div class="miles">{{ appService.result }}</div>
        <div>Allowed miles</div>
      </div>
    </ng-container>
  </div>
</ion-content>