<ion-content class="home" scrollY="false">

  <div class="logo">
    <img src="assets/icon/trak-logo.png">
  </div>

  <div class="cta">
    <div class="miles">{{ appService.result }}</div>
    <span>Miles allowed</span>
  </div>

  <form class="form" #form="ngForm">
    <div class="input-container">
      <div class="input-label">Odometer offset</div>
      <input name="odometer" [(ngModel)]="appService.odometer" type="number" pattern="\d*" value="100" (change)="appService.calculate()">
    </div>
    <div class="input-container">
      <div class="input-label">Annual miles</div>
      <div class="select-container">
        <div class="select-label">{{ appService.miles | number }}</div>
        <select name="miles" [(ngModel)]="appService.miles" (change)="appService.calculate()">
          <option *ngFor="let item of mileageOptions" [value]="item.value">{{ item.label }}</option>
        </select>
      </div>
    </div>
    <div class="input-container">
      <div class="input-label">Lease start</div>
      <div class="date-container">
        <div class="date-label">{{ appService.start | date : 'shortDate' }}</div>
        <input name="start" [(ngModel)]="appService.start" (change)="appService.calculate()" type="date">
      </div>
    </div>
    <div class="input-container">
      <div class="input-label">Lease length</div>
      <div class="select-container">
        <div class="select-label">{{ appService.length }} months</div>
        <select name="length" [(ngModel)]="appService.length" (change)="appService.calculate()">
          <option *ngFor="let item of lengthOptions" [value]="item.value">{{ item.label }}</option>
        </select>
      </div>
    </div>
  </form>

  <div class="footer">
    <div>Remaining lease time</div>
    <span>{{ appService.remainingTime }}</span>
  </div>

</ion-content>