<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink="/" routerDirection="root">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm">
    <ion-list>
      <ion-list-header>Mileage form</ion-list-header>
      <ion-item>
        <ion-label>Odometer offset</ion-label>
        <ion-input class="text-right" slot="end" type="number" name="odometer" [(ngModel)]="appService.odometer" (ionChange)="appService.calculate()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Yearly miles</ion-label>
        <ion-select name="miles" [(ngModel)]="appService.miles" (ionChange)="appService.calculate()">
          <ion-select-option *ngFor="let item of mileageOptions" [value]="item.value">{{ item.label }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Lease start</ion-label>
        <ion-datetime name="start" [(ngModel)]="appService.start" (ionChange)="appService.calculate()" display-format="MM/DD/YYYY">
        </ion-datetime>
      </ion-item>
    </ion-list>
  </form>

  <ng-container *ngIf="appService.daysPassed && appService.allowedMiles">
    <ion-list>
      <ion-list-header>Statistics</ion-list-header>
      <ion-item>
        <ion-label>Days since start</ion-label>
        <ion-note slot="end" color="tertiary">{{ appService.daysPassed }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Allowed miles</ion-label>
        <ion-note slot="end" color="tertiary">{{ appService.result }}</ion-note>
      </ion-item>
    </ion-list>
  </ng-container>

</ion-content>